{% extends 'common/base.html' %}

{% block title %}{{ reserva_generica }}{% endblock %}
{% block reservas_active %}active{% endblock %}

{% block body %}

<div class="col-lg-12">
    <div class="row">
        <div class="page-header">
            <h1>LISTA DE RESERVAS PENDIENTES</h1>
        </div>
    </div>


    <div class="row"  >
            <div class="panel panel-default">
                <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Usuario</th>
                                <th>Tipo de recurso</th>
                                <th>Fecha inicio</th>
                                <th>Fecha fin</th>

                            </tr>
                            </thead>
                        <tbody>
                            {% for reserva in object_list %}
                                <tr>
                                    <td>{{ reserva.usuario.first_name }} {{ reserva.usuario.last_name }}</td>
                                    <td>{{ reserva.tipoRecurso}}</td>
                                    <td>{{ reserva.fecha_inicio}}</td>
                                    <td>{{ reserva.fecha_fin}}</td>
                                    <td>
                                     <a href="#"0 ->
                                      <button type="submit" class="btn btn-danger btn-xs">
                                      <span class="glyphicon glyphicon-pencil"></span>&nbsp; Modificar reserva
                                      </button>
                                    </a>

                                      <a href="#"0 ->
                                      <button type="submit" class="btn btn-danger btn-xs">
                                      <span class="glyphicon glyphicon-pencil"></span>&nbsp; Cancelar reserva
                                      </button>
                                    </a>

                                    </td>
                                </tr>

                            {% endfor %}
                        </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}