{% load styled_elements %}
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">


        <ul class="nav" id="side-menu">
            <li>
                <a href="#"><i class="fa fa-user fa-fw"></i>USUARIOS<span class="fa arrow"></span></a>
                {% navbar class="nav-second-level"%}
                    {% navitem 'users:user_list'|as_url "USUARIOS" %}
                    {% navitem 'users:user_pending'|as_url "PENDIENTES DE APROBACION" %}
                {% endnavbar %}
            </li>
            <li>
                <a href="/roles/"><i class="fa fa-group fa-fw"></i>ROLES<span class="fa arrow"></span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-wrench fa-fw"></i>RECURSOS<span class="fa arrow"></span></a>
                {% navbar class="nav-second-level"%}
                    {% navitem 'recursos:recurso_list'|as_url "RECURSOS" %}
                    {% navitem 'recursos:index'|as_url "TIPOS DE RECURSOS" %}
                {% endnavbar %}
            </li>
            <li>
                <a href="#"><i class="fa fa-amazon fa-fw"></i> RESERVAS<span class="fa arrow"></span></a>
                {% navbar class="nav-second-level"%}
                    {% navitem 'reserva_generica:crear_reserva'|as_url "Reserva generica" %}
                    {% navitem 'recursos:index'|as_url "Reserva especifica" %}
                    {% navitem 'reserva_generica:listar_reservas'|as_url "Lista reservas" %}
                {% endnavbar %}
            </li>

        </ul>
    </div>
        <!-- /.sidebar-collapse -->
</div>
    <!-- /.navbar-static-side -->
