{% extends 'recursos/base.html' %}
{% block title %}AGREGAR NUEVO ROL{% endblock %}
{% block recurso_active %}Activar{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>AGREGAR NUEVO</h3>
                    {% if error_message %}
                      <p><strong>{{ error_message }}</strong></p>
                    {% endif %}


                    <form class="form-horizontal" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> {{ field.name }}</label>
                                <div class="col-sm-10">
                                    {{ field }}
                                    <span class="help-block m-b-none">{{ field.help_text }}</span>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <a href="{% url 'users:groups_list' %}">
                                <button type="submit"class="btn btn-success">ACEPTAR</button>
                                </a>
                                <a href="{% url 'users:groups_list' %}">
                                <button type="button" class="btn btn-default">CANCELAR</button>
                                </a>

                            </div>
                            <div class="col-sm-offset-2 col-sm-10">
                            </div>
                        </div>
                </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

