{% extends 'common/base.html' %}



{% block body %}
<div class="col-lg-12">
    <div class="row">
        <div class="page-header">
            <h1>LISTA DE ROLES</h1>
            <a href="{% url 'users:groups_new' %}">
                <span aria-hidden="true"></span>&nbsp;
                <button type="submit" class="btn btn-primary glyphicon glyphicon-plus">Agregar</button>
            </a>
        </div>
    </div>

    <div class="row"  >
            <div class="panel panel-default">
                <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th> </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for groups in object_list %}
                                <tr>
                                    <td>
                                        <a href={% url 'users:groups_edit' groups.id %}> {{ groups.name}}</a>
                                    </td>
                                    <td>
                                        <a href="{% url 'users:groups_delete' pk=groups.id %}">
                                        <button type="submit" class="btn btn-default btn-sm" >
                                            <span class=" btn-default glyphicon glyphicon-trash"></span>&nbsp
                                        </button></a>
                                    </td>
                                </tr>

                            {% endfor %}
                        </tbody>
                        </table>

                </div>
            </div>
      </div>
</div>
{% endblock %}
