{% load static from staticfiles %}


<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'aether.css' %}">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<body class="container">
<!-- REGISTRATION FORM -->
<div class="text-center" style="padding:50px 0">
    <div class="logo">register</div>
    <!-- Main Form -->
    <div class="login-form-1">
        <form id="register-form" class="text-left" method="post">
            {% csrf_token %}
            <div class="main-login-form">
                <div class="login-group">
                    <div class="form-group">
                        {{form.username.errors}}
                        {{form.username.label_tag}}
                        {{form.username}}
                    </div>
                    <div class="form-group">
                        {{form.ci.errors}}
                        {{form.ci.label_tag}}
                        {{form.ci}}
                    </div>
                    <div class="form-group">
                        {{form.email.errors}}
                        {{form.email.label_tag}}
                        {{form.email}}
                    </div>
                    <div class="form-group">
                        {{form.first_name.errors}}
                        {{form.first_name.label_tag}}
                        {{form.first_name}}
                    </div>
                    <div class="form-group">
                        {{form.last_name.errors}}
                        {{form.last_name.label_tag}}
                        {{form.last_name}}
                    </div>
                    <div class="form-group">
                        {{form.telefono.errors}}
                        {{form.telefono.label_tag}}
                        {{form.telefono}}
                    </div>
                    <div class="form-group">
                        {{form.direccion.errors}}
                        {{form.direccion.label_tag}}
                        {{form.direccion}}
                    </div>
                    <div class="form-group">
                        {{form.password1.errors}}
                        {{form.password1.label_tag}}
                        {{form.password1}}
                    </div>
                    <div class="form-group">
                        {{form.password2.errors}}
                        {{form.password2.label_tag}}
                        {{form.password2}}
                    </div>
                    <div class="form-group login-group-checkbox">
                        <input type="checkbox" class="" id="reg_agree" name="reg_agree">
                        <label for="reg_agree">i agree with <a href="#">terms</a></label>
                    </div>
                </div>
                <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
            </div>
            <div class="etc-login-form">
                <p>ya tienes una cuenta? <a href="/login">ingresa aqui</a></p>
            </div>
        </form>
    </div>
    <!-- end:Main Form -->
</div>
<script src="{% static 'js/jquery.min.js' %}" ></script>
<script src="{% static 'js/bootstrap.min.js' %}" ></script>
<script src="{% static 'aether.js' %}" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>

</body>
