{% extends "common/base.html" %}
{% block body %}
<div class="col-lg-12">
    <div class="row">
        <div class="page-header">
            <h1>Roles de usuario</h1>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="row"  >
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th >Asignado</th>
                                <th style="width:90%">Nombre del rol</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for group in object_list %}
                            <tr>
                                <td>
                                    <input id="user-role-{{group.id}}" name="user-role-{{group.id}}" type="checkbox" {% if group in user_groups %} checked="true" {%endif%}>
                                </td>
                                <td>{{ group.name }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        <button type="submit"class="btn btn-success">ACEPTAR</button>
            <a href="{% url 'users:user_list' %}">
                <button type="button" class="btn btn-default">CANCELAR</button>
                                </a>
{#                <button type="submit" class="btn btn-default btn-sm">#}
{#                    <span class="fa fa-save"></span>&nbsp; Guardar#}
{#                </button>#}
        </div>
    </form>
</div>
{% endblock%}
