{% extends 'common/base.html' %}

{% block search_form %}
<form class="navbar-form navbar-left" role="search" method="get">
    <div class="form-group">
        <label for="username">Valor</label>
        <input type="text" class="form-control" value="" name="q">
    </div>
    <div class="form-group">
        <label for="field">Filtro</label>
        <select class="form-group select" name="field">
            <option value="first_name">Nombre</option>
            <option value="last_name">Apellido</option>
            <option value="username">Nombre de Usuario</option>
            <option value="ci">Cedula de Identidad</option>
            <option value="email">Email</option>
        </select>
    </div>
<button type="submit" class="btn btn-default">Buscar Usuario</button>
</form>
{% endblock %}

{% block body %}
<div class="col-lg-12">
    <div class="row">
        <div class="page-header">
            <h1>LISTA DE USUARIOS</h1>
            <a href="{% url 'users:users_new' %}">
                <span aria-hidden="true"></span>&nbsp;
                <button type="submit" class="btn btn-primary glyphicon glyphicon-plus">Agregar Usuario</button>
            </a>
        </div>
    </div>

    <div class="row"  >
            <div class="panel panel-default">
                <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Cedula</th>
                                <th>Nombres y Apellidos</th>
                                <th>Email</th>
                                <th>Username</th>
                                <th>Categoria</th>
                                <th>Status</th>
                                <th> </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for users in object_list %}
                                <tr>
                                    <td>{{ users.ci }}</td>

                                    <td>
                                        <a href="{% url 'users:users_edit' users.id %}" >
                                        {{ users.first_name}} {{ users.last_name }}
                                        </a>
                                    </td>
                                    <td>{{ users.email }}</td>
                                    <td>{{ users.username  }}</td>
                                    <td>{{ users.get_categoria_display }}</td>
                                    <td class="text-center">
                                        <a href class="active" ui-toggle-class>
                                            {% if users.is_active %}
                                                <a href class="active"><i class="fa fa-check text-success text-active"></i></a>
                                            {% else %}
                                                <a href class=""><i class="fa fa-times text-danger text"></i></a>
                                            {% endif %}
                                        </a>
                                    </td>
                                    <td>

                                        <a href="{% url 'users:admin_rol' pk=users.id %}">
                                        <button type="submit" class="btn btn-default btn-sm" >
                                            <span class="glyphicon glyphicon-plus"></span>&nbsp;Rol
                                        </button></a>
                                        <a href="{% url 'users:users_delete' pk=users.id %}">
                                        <button type="submit" class="btn btn-default btn-sm" >
                                            <span class=" btn-default glyphicon glyphicon-trash"></span>&nbsp
                                        </button></a>
                                    </td>
                                </tr>

                            {% endfor %}
                        </tbody>
                        </table>

                </div>
            </div>
      </div>
</div>
{% endblock %}
