{% extends 'common/base.html' %}
{% block title %}AGREGAR CATEGORIA{% endblock %}
{% block recurso_active %}Activar{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Agregar categoria a usuario</h3>
                    {% if error_message %}
                      <p><strong>{{ error_message }}</strong></p>
                    {% endif %}


                    <form class="form-horizontal" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'users/form-template.html' %}

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <a href="{% url 'users:user_pending' %}">
                                <button type="submit"class="btn btn-success">ACEPTAR</button>
                                </a>
                            </div>
                        </div>
                </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

