<!DOCTYPE html>
{% load staticfiles %}
{% load styled_elements %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %} INICIO {% endblock %}</title>
    <link href= "{% static '/vendor/morrisjs/morris.css' %}" rel="stylesheet">
    <link href= "{% static '/vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">
    <link href= "{% static '/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href= "{% static '/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href= "{% static '/css/sb-admin-2.min.css' %}" rel="stylesheet" type="text/css">
    <link href= "{% static '/css/site.css' %}" rel="stylesheet" type="text/css">

</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        {% include 'common/nav/header.html' %}
        {% include 'common/nav/topnav.html' %}
        {% block search_form %}
        <form class="navbar-form navbar-left"
             role="search"
             method="get">
            <div class="form-group">
                <input type="text" class="form-control" value="" name="q">
            </div>
            <button type="submit" class="btn btn-default">Busqueda</button>
        </form>
        {% endblock %}

        {% include 'common/nav/sidenav.html' %}
    </nav>
    <div id="page-wrapper">
        {% block body %} {% endblock %}
    </div>
</div>
    <script src="{% static '/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static '/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/vendor/metisMenu/metisMenu.min.js' %}"></script>
    <script src="{% static '/vendor/raphael/raphael.min.js' %}"></script>
    <script src="{% static '/vendor/morrisjs/morris.min.js' %}"></script>
    <script src="{% static '/js/sb-admin-2.js' %}"></script>
    {% block extra_scripts %} {% endblock %}
</body>
</html>


