
{% extends 'recursos/base.html' %}
{% block title %}{{ tiporecurso }}{% endblock %}
{% block tiporecursos_active %}active{% endblock %}

{% block search_form %}

<form action="{% url 'recursos:recurso_busqueda'  %}" class="navbar-form navbar-left" role="search" method="get">
    <div   class="form-group">
        <input class="form-control" value=""  id="q" name="q" type="text">
    </div>
    <button type="submit" class="btn btn-default">Busqueda de recurso</button>
</form>

{% endblock %}





{% block body %}


<div class="container-fluid songs-container">

    <div class="row">

        <!-- tiporecurso info-->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'recursos:detail' tiporecurso.id %}">

                    </a>
                    <h1>{{ tiporecurso.Nombre }}</h1>
                    <h2>{{ tiporecurso.caracteristicas }}</h2>
                </div>
            </div>
        </div>


        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a href="{% url 'recursos:detail' tiporecurso.id %}">Ver todos</a></li>
                <li role="presentation">
                    <a href="{% url 'recursos:recurso_new' %}">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
                    <button type="submit" class="btn btn-primary">Agregar nuevo recurso</button></a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>TODOS LOS RECURSOS</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>cantidad Habilitado</th>
                            <th>cantidad Reservado</th>
                            <th>cantidad Disponible</th>
                            <th>Tiempo estimado de vida (años)</th>
                            <th>estado</th>

                        </tr>
                        </thead>
                        <body>
                        {% for recurso in tiporecurso.recurso_set.all %}
                            <tr>
                                <td>{{ recurso.nombre }}</td>
                                <td>{{ recurso.cantidadHabilitada}}</td>
                                <td>{{ recurso.cantidadReservada }}</td>
                                <td>{{ recurso.cantidadDisponible }}</td>
                                <td>{{ recurso.TiempoEstimadoVida }}</td>
                                <td>{{ recurso.get_estado_display}}</td>
                                <td>
                                    <form action="{% url 'recursos:eliminar_recurso' recurso.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="recurso_id" value="{{ recurso.id }}" />
                                        <button type="submit" class="btn btn-default btn-sm" onclick="return confirm('SEGURO QUE DESEA ELIMINAR EL RECURSO?')">
                                            <span class="glyphicon glyphicon-remove"></span>&nbsp; Eliminar
                                        </button>
                                    </form>
                                </td>

                                <td>
                                   <a href="{% url 'recursos:recurso_edit' recurso.id %}" class="btn btn-default btn-sm" role="button">
                                        {% csrf_token %}
                                        <input type="hidden" name="recurso_id" value="{{ recurso.id }}" />
                                        <button type="submit" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-pencil"></span>&nbsp; Editar
                                        </button>
                                   </a>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </body>
                    </table>

                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}