{% extends 'recursos/base.html' %}
{#{% block recursos_active %}active{% endblock %}#}


{% block search_form %}

<form action="{% url 'recursos:tipo_recurso_busqueda'  %}" class="navbar-form navbar-left" role="search" method="get">
    <div   class="form-group">
        <input class="form-control" value=""  id="q" name="q" type="text">
    </div>
    <button type="submit" class="btn btn-default">Busqueda de tipo recurso</button>
</form>

{% endblock %}


{% block body %}

<div class="tiporecursos-container container-fluid">



    <div class="row">


{#        {% if lista %}#}
            {% for tiporecurso in lista %}
                <div class="col-sm-8 col-lg-8">
                    <div class="thumbnail">
                        <a href="{% url 'recursos:detail' tiporecurso.id %}">

                        </a>
                        <div class="caption">
                            <h2>{{ tiporecurso.Nombre }}</h2>
                            <h4>{{ tiporecurso.caracteristicas }}</h4>

                            <!-- ver detalles -->
                            <a href="{% url 'recursos:detail' tiporecurso.id %}" class="btn btn-primary btn-sm" role="button">Ver Detalles</a>
                            <a href="{% url 'recursos:actualizar-tiporecurso' tiporecurso.id %}" class="btn btn-default btn-sm" role="button">
                                Editar
                                <span class="glyphicon glyphicon-pencil"/></span>
                            </a>


                            <!-- Eliminar tipo de recurso -->
                            <form action="{% url 'recursos:eliminar-tiporecurso' tiporecurso.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="tiporecurso_id" value="{{ tiporecurso.id }}" />
                                <button type="submit" class="btn btn-default btn-sm" onclick="return confirm('SEGURO QUE DESEA ELIMINAR EL TIPO DE RECURSO?')">
                                    Eliminar<span class="glyphicon glyphicon-trash"/></span>


                                </button>
                            </form>


                        </div>
                    </div>
                </div>

            {% endfor %}
{#        {% else %}#}
            <div class="col-sm-12">
                <br>



                        <a href="{% url 'recursos:agregar-tiporecurso' %}">
                            <button type="button" class="btn btn-success">
                                <span class="glyphicon glyphicon-plus"></span>&nbsp; Agregar un tipo de recurso
                            </button>
                        </a>
            </div>
{#        {% endif %}#}
    </div>

    <!-- busqueda de recursos-->
    {% if recursos %}
        <div class="row">
            <div class="col-sm-12">
                <h3>Recursos</h3>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>NOMBRE</th>
                                    <th>CANTIDAD DISPONIBLE</th>
                                    <th>ESTADO</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for recurso in recurso %}
                                    <tr>
                                        <td>{{ recurso.nombre }}</td>
                                        <td>{{ recurso.tiporecurso.Nombre }}</td>
                                        <td>
                                            <a target="_blank" href="{{ recurso.cantidad}">

                                            </a>
                                        </td>
                                        <td>
                                            <a href="{% url 'recursos:detail' recurso.tiporecurso.id %}">

                                            </a>
                                            <a href="{% url 'recursos:detail' recurso.tiporecurso.id %}">{{ recurso.tiporecurso.Nombre }}</a>
                                        </td>

                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

</div>
{% endblock %}