{% extends 'recursos/base.html' %}

{% block title %}{{ recurso }}{% endblock %}
{% block recursos_active %}active{% endblock %}

{% block body %}

<div class="row">

        <div class="col-sm-20 col-md-15">
            <div class="panel panel-default">
                <div class="panel-body">


                    <h1>LISTA RECURSOS</h1>
                <table class="table">
                        <thead>

                        <tr>
                            <th><strong>Nombre</strong></th>
                            <th><strong>Tipo</strong> </th>
                            <th><strong>Estado</strong></th>
                            <th><strong>Cantidad Habilitada</strong> </th>
                            <th><strong>Cantidad Reservada</strong></th>
                            <th><strong>Cantidad Disponible</strong></th>
                            <th><strong>Tiempo Estimado de Vida</strong></th>

                        </tr>
                        </thead>

                        {% for recurso in object_list %}
                        <tr>
                            <th>{{ recurso.nombre }}</th>
                            <th>{{ recurso.tipo}}</th>
                            <th>{{ recurso.estado}}</th>
                            <th>{{ recurso.cantidadHabilitada}}</th>
                            <th>{{ recurso.cantidadReservada}}</th>
                            <th>{{ recurso.cantidadDisponible}}</th>
                            <th>{{ recurso.TiempoEstimadoVida}}</th>
                        </tr>
                        {% endfor %}

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}



</title>
</head>
<body>

</body>
</html>