{% extends 'recursos/base.html' %}

{% block title %}{{ recurso }}{% endblock %}
{% block recursos_active %}active{% endblock %}

{% block search_form %}

<form action="{% url 'recursos:tipo_recurso_busqueda'  %}" class="navbar-form navbar-left" role="search" method="get">
    <div   class="form-group">
        <input class="form-control" value=""  id="q" name="q" type="text">
    </div>
    <button type="submit" class="btn btn-default">Busqueda de tipo recurso</button>
</form>

{% endblock %}


{% block body %}

<div class="row" xmlns="http://www.w3.org/1999/html">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">


                    <h1>LISTA DE TIPOS DE RECURSOS</h1>
                    <table class="table">
                        <thead>

                        <tr>
                            <th><strong>Nombre     </strong>  </th>
                            <th><strong> Caracteristicas </strong>  </th>
                        </tr>
                        </thead>
                        {% for tipo_recurso in object_list %}
                        <tr>
                            <th>{{ tipo_recurso.Nombre }}</th>
                            <th>{{ tipo_recurso.caracteristicas}}</th>
                        </tr>
                    {% endfor %}
                    </table>




                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}



