{% extends 'recursos/base.html' %}

{% block search_form %}
<form class="navbar-form navbar-left" role="search" method="get">
    <div class="form-group">
        <label for="recursoname">Valor</label>
        <input type="text" class="form-control" value="" name="q">
    </div>
    <div class="form-group">
        <label for="field">Filtro</label>
        <select class="form-group select" name="field">
            <option value="tipo__Nombre">Tipo</option>
            <option value="nombre">Nombre</option>
        </select>
    </div>
<button type="submit" class="btn btn-default">Buscar Recurso</button>
</form>
{% endblock %}



{% block body %}

<div class="col-lg-12">
    <div class="row">
        <div class="page-header">
            <h1>LISTA RECURSOS</h1>
        </div>
    </div>


    <div class="row"  >
            <div class="panel panel-default">
                <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Nombre Recurso</th>
                                <th>Tipo</th>
                                <th>Estado</th>
                                <th>Cantidad Habilitada</th>
                                <th>Cantidad Reservada</th>
                                <th>Cantidad Disponible</th>
                            </tr>
                            </thead>
                        <tbody>
                            {% for recurso in object_list %}
                                <tr>
                                    <td>{{ recurso.nombre }}</td>
                                    <td>{{ recurso.tipo}}</td>
                                    <td>{{ recurso.get_estado_display}}</td>
                                    <td>{{ recurso.cantidadHabilitada }}</td>
                                    <td>{{ recurso.cantidadReservada}}</td>
                                    <td>{{ recurso.cantidadDisponible}}</td>
                                    <td>
                                     <a href="{% url 'recursos:recurso_edit' recurso.id %}">
                                      <button type="submit" class="btn btn-danger btn-xs">
                                      <span class="glyphicon glyphicon-pencil"></span>&nbsp; Editar
                                      </button>
                                    </a>
                                    <a href="{% url 'recursos:recurso_delete' recurso.id %}">
                                      <button type="submit" class="btn btn-default btn-sm" onclick="return confirm('SEGURO QUE DESEA ELIMINAR EL RECURSO?')">
                                      <span class="glyphicon glyphicon-remove"></span>&nbsp; Eliminar
                                      </button>
                                    </a>
                                    </td>
                                </tr>

                            {% endfor %}
                        </tbody>
                        </table>

       <a href="{% url 'recursos:recurso_new' %}">Agregar nuevo recurso.</a>



                </div>
            </div>
        </div>
    </div>

{% endblock %}