{% extends 'recursos/base.html' %}

{% block title %}{{ recurso }}{% endblock %}
{% block recursos_active %}active{% endblock %}

{% block body %}

<div class="col-lg-12">
    <div class="row">
        <div class="page-header">
            <h1>LISTA RECURSOS</h1>
        </div>
    </div>


    <div class="row"  >
            <div class="panel panel-default">
                <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Nombre Recurso</th>
                                <th>Tipo de recurso</th>
                                <th>Estado</th>

                            </tr>
                            </thead>
                        <tbody>
                            {% for recurso in object_list %}
                                <tr>
                                    <td>{{ recurso.nombre }}</td>
                                    <td>{{ recurso.tipo}}</td>
                                    <td>{{ recurso.get_estado_display}}</td>
                                    <td>
                                     <a href="#"0 ->
                                      <button type="submit" class="btn btn-danger btn-xs">
                                      <span class="glyphicon glyphicon-pencil"></span>&nbsp; Gestionar reserva
                                      </button>
                                    </a>
                                    </td>
                                </tr>

                            {% endfor %}
                        </tbody>
                        </table>




                </div>
            </div>
        </div>
    </div>

{% endblock %}