{% extends 'recursos/base.html' %}
{% block title %}AGREGAR NUEVO TIPO DE RECURSO{% endblock %}
{% block tiporecurso_active %}Activar{% endblock %}

{% block search_form %}

<form action="{% url 'recursos:tipo_recurso_busqueda'  %}" class="navbar-form navbar-left" role="search" method="get">
    <div   class="form-group">
        <input class="form-control" value=""  id="q" name="q" type="text">
    </div>
    <button type="submit" class="btn btn-default">Busqueda de tipo recurso</button>
</form>

{% endblock %}


{% block body %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>AGREGAR NUEVO</h3>
                    {% if error_message %}
                      <p><strong>{{ error_message }}</strong></p>
                    {% endif %}


                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'recursos/form-template.html' %}

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit"class="btn btn-success">ACEPTAR</button>
                            </div>
                        </div>
                </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
